@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #FFFFF0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

a {
    font-size: 1.5rem;
    padding: 10px;
    transition: font-size 0.75s ease-in-out;
}

a:hover {
    font-size: 1.6rem;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

i {
    padding-top: 2rem;
    color: #FFFFF0;
    opacity: 0.75;
}

i:hover {
    opacity: 1;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}