@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #FFFFF0;
    background: linear-gradient(0deg, rgba(7, 0, 36, 1), rgba(79, 9, 121, 1) 35%, rgba(127, 9, 110, 1) 44%, rgba(255, 167, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    font-size: 1.5rem;
    padding: 10px;
    transition: font-size 0.75s ease-in-out;
}

a:hover {
    font-size: 1.75rem;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

i {
    padding-top: 2rem;
    color: #FFFFF0;
    opacity: 0.75;
}

i:hover {
    opacity: 1;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}